.footer{
    margin-top: 20px;
    background-color: #ffe200;
    font-size: 40px !important;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    display:flex;
    flex-direction: column;
}